{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-12  d-flex justify-content-center mt-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://via.placeholder.com/150x80" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{user.login}}</h5>
                    <p class="card-text">Hello there im fan of Star wars</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">France</li>
                    <li class="list-group-item">Speak english</li>
                    <li class="list-group-item">LF friends</li>
                </ul>
                <div class="card-body">
                    <a href="{{ path('app_private_message', {'recipient': user.id}) }}">Send message</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
